/* fonts */

@font-face {
  font-family: 'noto_serif_displayregular';
  src: url('./fonts/notoserifdisplay-variablefont_wdthwght-webfont.woff2') format('woff2'),
       url('./fonts/notoserifdisplay-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Kaisei Decol';
  src: url('./fonts/KaiseiDecol-Regular.woff2') format('woff2'),
      url('./fonts/KaiseiDecol-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* footer */

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:6.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem
}

/* navbar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #121619;
    color:#F5F1E3;
  }
  
  .logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
  }
  
  nav {
    order: 1;
  }
  
  .nav-ul a,
  .sign,
  .overlay__content a {
    font-family: 'Kaisei Decol';
    font-weight: 500;
    color: #F5F1E3;
    text-decoration: none;
  }
  
  .nav-ul {
    list-style: none;
    display: flex;
    font-size: 16px;
  }
  
  .nav-ul li {
    padding: 0px 20px;
  }
  
  .nav-ul li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  
  .nav-ul li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav-ul li a:hover {
    color:#cacaca;
  }
  
  .sign {
    order: 2;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #3A405A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .sign:hover {
    background-color:#2b2f42;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color:white;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f0f0f0;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #BDC4A7;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav-ul,
    .sign {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  

/* slideshow */

* {box-sizing:border-box}

.slideshow-container {
  padding: 10px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* body */

.homeinfo {
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: 'Kaisei Decol';
  font-weight: 500;
  color: black;
  text-decoration: none;
}

body{
margin:0;
padding-bottom:0;
font-family: 'noto_serif_displayregular';
min-height:100vh;
position:relative
}